In [1]:
from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [13]:
driver= webdriver.Chrome()
driver.get("https://www.muftijeans.in/")

In [4]:
productname = []
prod1 = driver.find_elements(By.XPATH,'//a[@class="product-item-link"]')
for i in prod1:
    productname.append(i.text)
print(len(productname))

70

In [7]:
prices = []
price= driver.find_elements(By.XPATH,'//div[@class="price-box price-final_price"]')
for i in price:
    prices.append(i.text)
print(len(prices))

70

In [9]:
prod2= driver.find_elements(By.XPATH,'//a[@class="product-item-link"]')

for i in prod2:
    productname.append(i.text)
print(len(productname))

160

In [10]:
prodt = driver.find_elements(By.XPATH,'//div[@class="price-box price-final_price"]')

for i in prodt:
    prices.append(i.text)
print(len(prices))

160

In [15]:
prod4 = driver.find_elements(By.XPATH,'//a[@class="product-item-link"]')

for i in prod4:
    productname.append(i.text)
print(len(productname))

249

In [16]:
pric1= driver.find_elements(By.XPATH,'//div[@class="price-box price-final_price"]')
for i in pric1:
    prices.append(i.text)
    
print(len(prices))

249

In [17]:
prod5= driver.find_elements(By.XPATH,'//a[@class="product-item-link"]')

for i in prod5:
    productname.append(i.text)
print(len(productname))

359

In [18]:
pric2= driver.find_elements(By.XPATH,'//div[@class="price-box price-final_price"]')

for i  in pric2:
    prices.append(i.text)
print(len(prices))

359

In [20]:
driver.close()

In [25]:
brand_names=[]
x = 'mufti'
for i in range(359):
    brand_names.append(x)
print(len(brand_names))

359

In [23]:
driver1= webdriver.Chrome()
driver1.get("https://allensolly.abfrl.in/")

In [27]:
prod33= driver1.find_elements(By.XPATH,'//div[@class="ProductCard_description__BQzle"]')
for i in prod33:
    productname.append(i.text)
print(len(productname))

423

In [31]:
prod36 = driver1.find_elements(By.XPATH,'//span[@class="price"]')
for i in prod36:
    prices.append(i.text)
print(len(prices))

423

In [34]:
prodd1 = driver1.find_elements(By.XPATH,'//div[@class="ProductCard_description__BQzle"]')
for i in prodd1:
    productname.append(i.text)
print(len(productname))

487

In [35]:
prod38 = driver1.find_elements(By.XPATH,'//span[@class="price"]')
for i in prod38:
    prices.append(i.text)
print(len(prices))

487

In [36]:
prod23 = driver1.find_elements(By.XPATH,'//div[@class="ProductCard_description__BQzle"]')

for i in prod23:
    productname.append(i.text)
print(len(productname))

583

In [37]:
prod25 = driver1.find_elements(By.XPATH,'//span[@class="price"]')
for i in prod25:
    prices.append(i.text)
print(len(prices))

583

In [38]:
y='allensolly'
for i in range(224):
    brand_names.append(y)
print(len(brand_names))

583

In [39]:
prod20 = driver1.find_elements(By.XPATH,'//div[@class="ProductCard_description__BQzle"]')

for i in prod20:
    productname.append(i.text)
print(len(productname))

679

In [40]:
prod28 = driver1.find_elements(By.XPATH,'//span[@class="price"]')
for i in prod28:
    prices.append(i.text)
print(len(prices))

679

In [41]:
producttype = []
z= 'casual'
for i in range(679):
    producttype.append(z)
print(len(producttype))

679

In [44]:
y1='allensolly'
for i in range(96):
    brand_names.append(y1)
print(len(brand_names))

775

In [51]:
category = []
f = 'men'
for i in range(679):
    category.append(f)

In [53]:
data = {'productname':productname, 'brand_names':brand_names, 'prices':prices, 'producttype': producttype,
         'category':category}

In [54]:
df = pd.DataFrame(data)
df

,productname,brand_names,prices,producttype,category
0,Super Slim Fit Originals Stretch Jeans,mufti,"₹3,399",casual,men
1,Super Slim Fit Originals Stretch Jeans,mufti,"₹3,499",casual,men
2,Straight Fit Originals Stretch Jeans,mufti,"₹3,399",casual,men
3,Super Slim Fit Originals Deluxe Stretch Jeans,mufti,"₹4,399",casual,men
4,Super Slim Fit Distressed Stretch Jeans,mufti,"₹4,299",casual,men
...,...,...,...,...,...
674,Men Grey Skinny Fit Mid Wash Jeans,allensolly,"₹ 2,799",casual,men
675,Men Black Slim Fit Dark Wash Jeans,allensolly,"₹ 2,799",casual,men
676,Men Navy Skinny Fit Mid Wash Jeans,allensolly,"₹ 3,999",casual,men
677,Men Grey Skinny Fit Dark Wash Jeans,allensolly,"₹ 3,999",casual,men
678,Men Navy Skinny Fit Dark Wash Jeans,allensolly,"₹ 4,999",casual,men

In [55]:
df.to_csv('datafame.csv')

In [2]:
driver = webdriver.Chrome()
driver.get('https://www.peterengland.com/')

In [5]:
productname = []
pr2 = driver.find_elements(By.XPATH,'//div[@class="ProductCard_description__BQzle"]')

for i in pr2:
    productname.append(i.text)
print(len(productname))

96

In [6]:
producttype= []
pr3 = driver.find_elements(By.XPATH,'//div[@class="ProductCard_title__9M6wy"]')
for i in pr3:
    producttype.append(i.text)
print(len(producttype))

96

In [9]:
prices=[]

In [10]:
pr3 = driver.find_elements(By.XPATH,'//span[@class="price"]')
for i in pr3:
    prices.append(i.text)
print(len(prices))

96

In [7]:
color = []
pr4= driver.find_elements(By.XPATH,'//div[@class="ProductCard_productColorText___jpq0"]')
for i in pr4:
    color.append(i.text)
print(len(color))

96

In [13]:
category = []
x= 'men'
for i in range(96):
    category.append(x)
print(len(category))

96

In [15]:
pr6 = driver.find_elements(By.XPATH,'//div[@class="ProductCard_title__9M6wy"]')
for i in pr6:
    producttype.append(i.text)
print(len(producttype))

212

In [16]:
pr7 = driver.find_elements(By.XPATH,'//span[@class="price"]')
for i in pr7:
    prices.append(i.text)
print(len(prices))

212

In [17]:
pr8 = driver.find_elements(By.XPATH,'//span[@class="ProductCard_colorOption__Lss5h undefined "]')

for i in pr8:
    color.append(i.text)
print(len(color))

212

In [18]:
brand_names=[]
x2 = 'peter england'
for i in range(212):
    brand_names.append(x2)
print(len(brand_names))

212

In [19]:
Occation = []
x3 = 'casual'
for i in range(212):
    Occation.append(x3)
print(len(Occation))

212

In [20]:
Weartype = []
x4= 'topwear'
for i in range(212):
    Weartype.append(x4)
print(len(Weartype))

212

In [21]:
pr12 = driver.find_elements(By.XPATH,'//div[@class="ProductCard_description__BQzle"]')

for i in pr12:
    productname.append(i.text)
print(len(productname))

263

In [22]:
pr13 = driver.find_elements(By.XPATH,'//div[@class="ProductCard_title__9M6wy"]')
for i in pr13:
    producttype.append(i.text)
print(len(producttype))

263

In [23]:
pr14 = driver.find_elements(By.XPATH,'//span[@class="price"]')
for i in pr14:
    prices.append(i.text)
print(len(prices))

263

In [24]:
pr15 = driver.find_elements(By.XPATH,'//span[@class="ProductCard_colorOption__Lss5h undefined "]')

for i in pr15:
    color.append(i.text)
print(len(color))

263

In [25]:
x5 = 'bottomwear'
for i in range(51):
    Weartype.append(x5)
print(len(Weartype))

263

In [26]:
pr18 = driver.find_elements(By.XPATH,'//div[@class="ProductCard_description__BQzle"]')

for i in pr18:
    productname.append(i.text)
print(len(productname))

423

In [27]:
pr19 = driver.find_elements(By.XPATH,'//div[@class="ProductCard_title__9M6wy"]')
for i in pr19:
    producttype.append(i.text)
print(len(producttype))

423

In [28]:
pr21 = driver.find_elements(By.XPATH,'//span[@class="price"]')
for i in pr21:
    prices.append(i.text)
print(len(prices))

423

In [29]:
pr22 = driver.find_elements(By.XPATH,'//div[@class="ProductCard_productColorText___jpq0"]')

for i in pr22:
    color.append(i.text)
print(len(color))

423

In [30]:
x5 = 'bottomwear'
for i in range(160):
    Weartype.append(x5)
print(len(Weartype))

423

In [31]:
pr23 = driver.find_elements(By.XPATH,'//div[@class="ProductCard_description__BQzle"]')

for i in pr23:
    productname.append(i.text)
print(len(productname))

493

In [32]:
pr24 = driver.find_elements(By.XPATH,'//div[@class="ProductCard_title__9M6wy"]')
for i in pr24:
    producttype.append(i.text)
print(len(producttype))

493

In [33]:
pr25 = driver.find_elements(By.XPATH,'//span[@class="price"]')
for i in pr25:
    prices.append(i.text)
print(len(prices))

493

In [34]:
pr26 = driver.find_elements(By.XPATH,'//span[@class="ProductCard_colorOption__Lss5h undefined "]')

for i in pr26:
    color.append(i.text)
print(len(color))

493

In [35]:
x5 = 'topwear'
for i in range(70):
    Weartype.append(x5)
print(len(Weartype))

493

In [36]:
pr27 = driver.find_elements(By.XPATH,'//div[@class="ProductCard_description__BQzle"]')

for i in pr27:
    productname.append(i.text)
print(len(productname))

565

In [37]:
pr28 = driver.find_elements(By.XPATH,'//div[@class="ProductCard_title__9M6wy"]')
for i in pr28:
    producttype.append(i.text)
print(len(producttype))

565

In [38]:
pr29 = driver.find_elements(By.XPATH,'//span[@class="price"]')
for i in pr29:
    prices.append(i.text)
print(len(prices))

565

In [39]:
pr30 = driver.find_elements(By.XPATH,'//span[@class="ProductCard_colorOption__Lss5h undefined "]')

for i in pr30:
    color.append(i.text)
print(len(color))

565

In [40]:
x55 = 'bottomwear'
for i in range(72):
    Weartype.append(x55)
print(len(Weartype))

565

In [41]:
x3 = 'casual'
for i in range(353):
    Occation.append(x3)
print(len(Occation))

565

In [42]:
x2 = 'peter england'
for i in range(353):
    brand_names.append(x2)
print(len(brand_names))

565

In [43]:
x= 'men'
for i in range(469):
    category.append(x)
print(len(category))

565

In [44]:
driver.close()

In [45]:
data1 = {'productname':productname, 'brand_names':brand_names, 'prices':prices, 'producttype': producttype,
         'category':category, 'Occation':Occation, 'Weartype': Weartype}

In [46]:
df1 = pd.DataFrame(data1)
df1

,productname,brand_names,prices,producttype,category,Occation,Weartype
0,Men Purple Regular Fit Formal Full Sleeves For...,peter england,"₹ 1,199",FORMAL SHIRTS,men,casual,topwear
1,Men Pink Super Slim Fit Formal Full Sleeves Fo...,peter england,"₹ 2,299",FORMAL SHIRTS,men,casual,topwear
2,Men Blue Athletic Fit Formal Full Sleeves Form...,peter england,"₹ 1,599",FORMAL SHIRTS,men,casual,topwear
3,Men Black Super Slim Fit Formal Full Sleeves F...,peter england,"₹ 1,999",FORMAL SHIRTS,men,casual,topwear
4,Men White Regular Fit Formal Full Sleeves Form...,peter england,"₹ 1,199",FORMAL SHIRTS,men,casual,topwear
...,...,...,...,...,...,...,...
560,Men BrownPrint Casual Track Pants,peter england,"₹ 1,119",TRACK PANTS,men,casual,bottomwear
561,Men OliveSolid Casual Track Pants,peter england,"₹ 1,799",TRACK PANTS,men,casual,bottomwear
562,Men GreyStripe Casual Track Pants,peter england,"₹ 1,599",TRACK PANTS,men,casual,bottomwear
563,Men GreyPrint Casual Track Pants,peter england,"₹ 1,599",TRACK PANTS,men,casual,bottomwear
564,Men NavyGraphic Print Casual Track Pants,peter england,"₹ 1,999",TRACK PANTS,men,casual,bottomwear

In [47]:
df1.to_csv('datafame1.csv')

In [2]:
driver1 = webdriver.Chrome()
driver1.get('https://www.montecarlo.in/')

In [3]:
productname = []

In [12]:
driver1.refresh()

In [4]:
start = 0
end = 3
for page in range(start,end):
    item= driver1.find_elements(By.XPATH,'//a[@class="product-item-meta__title"]')
    for i in item:
        productname.append(i.text)
    next1 = driver1.find_element(By.CLASS_NAME,"pagination__nav-item")
    next1.click()
    time.sleep(3)

In [5]:
len(productname)

144

In [6]:
prices=[]

In [7]:
start = 0
end = 3
for page in range(start,end):
    item1= driver1.find_elements(By.XPATH,'//span[@class="price price--highlight"]')
    for i in item1:
        prices.append(i.text)
    next_1 = driver1.find_element(By.CLASS_NAME,'pagination__nav-item')
    next_1.click()
    time.sleep(3)

In [8]:
print(len(prices))

144

In [9]:
brand_names = []
s= 'monte carlo'
for i in range(144):
    brand_names.append(s)
print(len(brand_names))

144

In [11]:
country_of_origin = []
s1 = 'india'
for i in range(144):
    country_of_origin.append(s1)
print(len(country_of_origin))

144

In [12]:
category = []
s3 = 'men'
for i in range(144):
    category.append(s3)
print(len(category))

144

In [13]:
return_time = []
s4='7 days'
for i in range(144):
    return_time.append(s4)
print(len(return_time))

144

In [15]:
Weartype=[]
s5='topwear'
for i in range(144):
    Weartype.append(s5)
print(len(Weartype))

144

In [17]:
start = 0
end = 3
for page in range(start,end):
    item1= driver1.find_elements(By.XPATH,'//a[@class="product-item-meta__title"]')
    for i in item1:
        productname.append(i.text)
    next2 = driver1.find_element(By.CLASS_NAME,"pagination__nav-item")
    next2.click()
    time.sleep(3)

In [18]:
print(len(productname))

336

In [19]:
start = 0
end = 3
for page in range(start,end):
    item3= driver1.find_elements(By.XPATH,'//span[@class="price price--highlight"]')
    for i in item3:
        prices.append(i.text)
    next_2 = driver1.find_element(By.CLASS_NAME,'pagination__nav-item')
    next_2.click()
    time.sleep(3)

In [21]:
print(len(prices))

288

In [22]:
item5 = driver1.find_elements(By.XPATH,'//span[@class="price price--highlight"]')
for i in item5:
    prices.append(i.text)
print(len(prices))

336

In [23]:
producttype=[]
s6='Half Sleeve T-Shirt'
for i in range(336):
    producttype.append(s6)
print(len(producttype))

336

In [25]:
s3 = 'men'
for i in range(192):
    category.append(s3)
print(len(category))

336

In [26]:
s= 'monte carlo'
for i in range(192):
    brand_names.append(s)
print(len(brand_names))

336

In [27]:
s1 = 'india'
for i in range(192):
    country_of_origin.append(s1)
print(len(country_of_origin))

336

In [28]:
s4='7 days'
for i in range(192):
    return_time.append(s4)
print(len(return_time))

336

In [29]:
s5='topwear'
for i in range(192):
    Weartype.append(s5)
print(len(Weartype))

336

In [30]:
Occation=[]
h ='casual'
for i in range(336):
    Occation.append(h)
print(len(Occation))

336

In [32]:
data3= {'productname':productname, 'prices':prices, 'producttype':producttype, 'category':category, 'brand_names':brand_names,
         'country_of_origin':country_of_origin, 'Weartype':Weartype,'return_time':return_time,'Occation':Occation}

In [33]:
df2 = pd.DataFrame(data3)
df2

,productname,prices,producttype,category,brand_names,country_of_origin,Weartype,return_time,Occation
0,Men Grey Stripe Polo Collar Half Slee...,"Sale price\nRs. 1,695",Half Sleeve T-Shirt,men,monte carlo,india,topwear,7 days,casual
1,Men Pink Stripe Polo Collar Half Slee...,"Sale price\nRs. 1,345",Half Sleeve T-Shirt,men,monte carlo,india,topwear,7 days,casual
2,Men Lime Green Solid Polo Collar Half...,"Sale price\nRs. 1,190",Half Sleeve T-Shirt,men,monte carlo,india,topwear,7 days,casual
3,Men Turquoise Blue Stripe Polo Collar...,"Sale price\nRs. 1,490",Half Sleeve T-Shirt,men,monte carlo,india,topwear,7 days,casual
4,Men Charcoal Stripe Polo Collar Half ...,"Sale price\nRs. 1,490",Half Sleeve T-Shirt,men,monte carlo,india,topwear,7 days,casual
...,...,...,...,...,...,...,...,...,...
331,Men Blue Jaquard T-Shirt,"Sale price\nRs. 1,190",Half Sleeve T-Shirt,men,monte carlo,india,topwear,7 days,casual
332,Men Blue Printed T-Shirt,Sale price\nRs. 945,Half Sleeve T-Shirt,men,monte carlo,india,topwear,7 days,casual
333,Men Blue Printed T-Shirt,Sale price\nRs. 990,Half Sleeve T-Shirt,men,monte carlo,india,topwear,7 days,casual
334,Men Grey Printed T-Shirt,Sale price\nRs. 990,Half Sleeve T-Shirt,men,monte carlo,india,topwear,7 days,casual
335,Men NAvy Blue Printed T-Shirt,"Sale price\nRs. 1,645",Half Sleeve T-Shirt,men,monte carlo,india,topwear,7 days,casual

In [34]:
df2.to_csv('datafame2.csv')

In [43]:
driver= webdriver.Chrome()
driver.get('https://www.biba.in/')

In [4]:
productnames=[]
prices=[]
producttype=[]
colors=[]
category=[]
Occation=[]
Weartype=[]
brand_names=[]
return_time=[]
country_of_origin=[]
materialtype=[]

In [6]:
product2 = driver.find_elements(By.XPATH,'//a[@class="link d-lg-none"]')

for i in product2:
    sampl2= i.text
    productnames.append(sampl2)
print(len(productnames))

144

In [7]:
product3 = driver.find_elements(By.XPATH,'//span[@class="sales"]')
for i in product3:
    re=i.text
    prices.append(re)
print(len(prices))

144

In [8]:
x = '15 days'
for i in range(156):
    return_time.append(x)
print(len(return_time))

156

In [9]:
links=[]

In [10]:
k = driver.find_elements(By.XPATH,'//a[@class="link d-lg-none"]')

for i in k:
    red1 = i.get_attribute('href')
    links.append(red1)

In [12]:
def item():
    try:
        g1= driver.find_element(By.XPATH,'//span[@class="features-lists-item-value"]')
        f0= g1.text
    except Exception as e:
        f0='not found'
    return f0

In [13]:
def color():
    try:
        c= driver.find_element(By.XPATH,'//span[@class="non-input-label color-name"]')
        f2=c.text
    except Exception as e:
        f2= 'nan'
    return f2

In [14]:
def material():
    try:
        d= driver.find_element(By.XPATH,'//li[@class="features-lists-item"][7]/span')
        f3=d.text
    except Exception as e:
        f3= 'nan'
    return f3

In [15]:
for product in links:
    driver.get(product)
    time.sleep(2)
    d2=item()
    producttype.append(d2)
    time.sleep(2)
    d3=color()
    colors.append(d3)
    time.sleep(2)
    d4=material()
    materialtype.append(d4)
driver.close()

In [17]:
x= 'topwear'
for i in range(144):
    Weartype.append(x)
print(len(Weartype))

144

In [19]:
product3 = driver.find_elements(By.XPATH,'//a[@class="link d-lg-none"]')

for i in product3:
    sampl3= i.text
    productnames.append(sampl3)
print(len(productnames))

246

In [20]:
product5 = driver.find_elements(By.XPATH,'//span[@class="sales"]')
for i in product5:
    re1=i.text
    prices.append(re1)
print(len(prices))

246

In [23]:
m = driver.find_elements(By.XPATH,'//a[@class="link d-lg-none"]')

for i in m:
    red2 = i.get_attribute('href')
    links.append(red2)

In [24]:
def item1():
    try:
        g2= driver.find_element(By.XPATH,'//span[@class="features-lists-item-value"]')
        f5= g2.text
    except Exception as e:
        f5='nan'
    return f5

In [25]:
def material1():
    try:
        d1= driver.find_element(By.XPATH,'//li[@class="features-lists-item"][4]/span')
        f6=d1.text
    except Exception as e:
        f6= 'nan'
    return f6

In [38]:
def color():
    try:
        c1= driver.find_element(By.XPATH,'//span[@class="non-input-label color-name"]')
        f7=c1.text
    except Exception as e:
        f7= 'nan'
    return f7

In [29]:
x1='palazzo'
for i in range(31):
    producttype.append(x1)
print(len(producttype))

246

In [33]:
x2='cotton'
for i in range(31):
    materialtype.append(x2)

In [35]:
x3='Black'
for i in range(31):
    colors.append(x3)

In [39]:
a= 'india'
for i in range(246):
    country_of_origin.append(a)
print(len(country_of_origin))

246

In [40]:
a1='Biba'
for i in range(246):
    brand_names.append(a1)

In [41]:
a2='Regular'
for i in range(246):
    Occation.append(a2)

In [42]:
x= 'bottomwear'
for i in range(102):
    Weartype.append(x)
print(len(Weartype))

246

In [44]:
product6 = driver.find_elements(By.XPATH,'//a[@class="link d-lg-none"]')

for i in product6:
    sampl4= i.text
    productnames.append(sampl4)
print(len(productnames))

354

In [45]:
product7 = driver.find_elements(By.XPATH,'//span[@class="sales"]')
for i in product7:
    re5=i.text
    prices.append(re5)
print(len(prices))

354

In [47]:
m1 = driver.find_elements(By.XPATH,'//a[@class="link d-lg-none"]')

for i in m1:
    red3 = i.get_attribute('href')
    links.append(red3)

In [48]:
def item2():
    try:
        g3= driver.find_element(By.XPATH,'//span[@class="features-lists-item-value"]')
        h= g3.text
    except Exception as e:
        h='nan'
    return h

In [49]:
def material2():
    try:
        t1= driver.find_element(By.XPATH,'//li[@class="features-lists-item"][6]/span')
        h1=t1.text
    except Exception as e:
        h1= 'nan'
    return h1

In [50]:
def color2():
    try:
        c2= driver.find_element(By.XPATH,'//span[@class="non-input-label color-name"]')
        h2=c2.text
    except Exception as e:
        h2= 'nan'
    return h2

In [53]:
for product in links:
    driver.get(product)
    time.sleep(2)
    m1=item2()
    producttype.append(m1)
    time.sleep(2)
    m2=color2()
    colors.append(m2)
    time.sleep(2)
    m3=material2()
    materialtype.append(m3)
driver.close()

In [54]:
a= 'india'
for i in range(108):
    country_of_origin.append(a)
print(len(country_of_origin))

354

In [55]:
a1='Biba'
for i in range(108):
    brand_names.append(a1)

In [56]:
a2='Regular'
for i in range(108):
    Occation.append(a2)

In [57]:
x= 'topwear'
for i in range(108):
    Weartype.append(x)
print(len(Weartype))

354

In [59]:
x3='woman'
for i in range(354):
    category.append(x3)

In [61]:
x4='15 days'
for i in range(198):
    return_time.append(x4)

In [75]:
data4= {'productname':productnames, 'prices':prices, 'producttype':producttype, 'category':category, 'brand_names':brand_names,
         'country_of_origin':country_of_origin, 'Weartype':Weartype,'return_time':return_time,'Occation':Occation}

In [76]:
df3= pd.DataFrame(data4)
df3

,productname,prices,producttype,category,brand_names,country_of_origin,Weartype,return_time,Occation
0,Rust Cotton Flared Printed Short Kurti,₹900,Kurti,woman,Biba,india,topwear,15 days,Regular
1,Black Cotton Blend Printed Kurti,"₹1,000",Kurti,woman,Biba,india,topwear,15 days,Regular
2,Black Woolen Short Yarndyed Kurti,₹900,Kurti,woman,Biba,india,topwear,15 days,Regular
3,Pink Woolen Short Yarndyed Kurti,₹900,Kurti,woman,Biba,india,topwear,15 days,Regular
4,Yellow Cotton Blend Printed Kurti,₹500,Kurti,woman,Biba,india,topwear,15 days,Regular
...,...,...,...,...,...,...,...,...,...
349,Beige Rayon Straight Fusion Dress,"₹1,300",Dress,woman,Biba,india,topwear,15 days,Regular
350,Off White Cotton Flax Printed Kurta Dress,"₹1,000",Dress,woman,Biba,india,topwear,15 days,Regular
351,Yellow Cotton Blend Flared Dress,"₹2,498",Dress,woman,Biba,india,topwear,15 days,Regular
352,White And Green Cotton Kurta Printed Kurta Dress,₹900,Dress,woman,Biba,india,topwear,15 days,Regular
353,Yellow Flared Art Silk Printed Dress,"₹2,309",Dress,woman,Biba,india,topwear,15 days,Regular

In [77]:
df3.to_csv('datafame3.csv')

In [16]:
driver= webdriver.Chrome()
driver.get('https://www2.hm.com/en_in/index.html')

In [3]:
productnames=[]
prices=[]
producttype=[]
colors=[]
category=[]
Occation=[]
Weartype=[]
brand_names=[]
return_time=[]
country_of_origin=[]
materialtype=[]

In [4]:
products1 = driver.find_elements(By.XPATH,'//a[@class="link"]')

for i in products1:
    sampl1= i.text
    productnames.append(sampl1)
print(len(productnames))

144

In [6]:
products2 = driver.find_elements(By.XPATH,'//span[@class="price regular"]')
for i in products2:
    sampl2=i.text
    prices.append(sampl2)
print(len(prices))

144

In [7]:
def color():
    try:
        c1= driver.find_element(By.XPATH,'//h3[@class="product-input-label"]')
        h1=c1.text
    except Exception as e:
        h1= 'nan'
    return h1

In [9]:
link=[]

In [10]:
m1 = driver.find_elements(By.XPATH,'//a[@class="link"]')

for i in m1:
    red1 = i.get_attribute('href')
    link.append(red1)

In [34]:
x='HM'
for i in range(98):
    brand_names.append(x)

In [30]:
x2='Regular'
for i in range(98):
    Occation.append(x2)

In [31]:
x3='bottomwear'
for i in range(98):
    Weartype.append(x3)

In [19]:
products2 = driver.find_elements(By.XPATH,'//a[@class="link"]')

for i in products2:
    sampl3= i.text
    productnames.append(sampl3)
print(len(productnames))

242

In [20]:
products3 = driver.find_elements(By.XPATH,'//span[@class="price regular"]')
for i in products3:
    sampl4=i.text
    prices.append(sampl4)
print(len(prices))

242

In [25]:
def color1():
    try:
        c3= driver.find_element(By.XPATH,'//h3[@class="product-input-label"]')
        h3=c3.text
    except Exception as e:
        h3= 'nan'
    return h3

In [26]:
def material1():
    try:
        t2= driver.find_element(By.XPATH,'//dt[@class="fa226d c0e4fd c2656c"]')
        h4=t2.text
    except Exception as e:
        h4= 'nan'
    return h4

In [24]:
m2 = driver.find_elements(By.XPATH,'//a[@class="link"]')

for i in m2:
    red2 = i.get_attribute('href')
    link.append(red2)

In [28]:
for product in link:
    driver.get(product)
    time.sleep(2)
    n1=color1()
    colors.append(n1)
    time.sleep(2)
    n2=material1()
    materialtype.append(n2)

In [37]:
data5= {'productname':productnames, 'prices':prices, 'producttype':producttype, 'category':category, 'brand_names':brand_names,
         'country_of_origin':country_of_origin, 'Weartype':Weartype,'return_time':return_time,'Occation':Occation,'color':colors,
           'materialtype':materialtype}

In [38]:
df4= pd.DataFrame(data5)
df4

,productname,prices,producttype,category,brand_names,country_of_origin,Weartype,return_time,Occation,color,materialtype
0,Regular Fit T-shirt,Rs.399.00,T-Shirt,men,HM,india,topwear,15 days,Regular,Khaki green,
1,Loose Fit T-shirt,Rs.799.00,T-Shirt,men,HM,india,topwear,15 days,Regular,Light beige,
2,Slim Fit Ribbed vest top,Rs.599.00,T-Shirt,men,HM,india,topwear,15 days,Regular,Black,
3,Slim Fit Polo shirt,Rs.799.00,T-Shirt,men,HM,india,topwear,15 days,Regular,Light beige,
4,Slim Fit Cotton T-shirt,Rs.699.00,T-Shirt,men,HM,india,topwear,15 days,Regular,Black,
...,...,...,...,...,...,...,...,...,...,...,...
237,Hybrid Regular Tapered Joggers,"Rs.2,999.00",DENIM,men,HM,india,bottomwear,15 days,Regular,Black,
238,Skinny Jeans,"Rs.1,999.00",DENIM,men,HM,india,bottomwear,15 days,Regular,Light denim blue,
239,Loose Jeans,"Rs.3,999.00",DENIM,men,HM,india,bottomwear,15 days,Regular,Cream,
240,Skinny Jeans,"Rs.2,699.00",DENIM,men,HM,india,bottomwear,15 days,Regular,Black/Trashed,
241,Relaxed Denim Joggers,"Rs.2,299.00",DENIM,men,HM,india,bottomwear,15 days,Regular,Black,

In [36]:
driver= webdriver.Chrome()
driver.get('https://www.biba.in/')

There was an error managing chrome (error sending request for url (https://googlechromelabs.github.io/chrome-for-testing/known-good-versions-with-downloads.json): error trying to connect: dns error: No such host is known. (os error 11001)); using driver found in the cache

In [3]:
productnames=[]
prices=[]
producttype=[]
colors=[]
category=[]
Occation=[]
Weartype=[]
brand_names=[]
return_time=[]
country_of_origin=[]
materialtype=[]

In [4]:
products1 = driver.find_elements(By.XPATH,'//a[@class="link d-lg-none"]')

for i in products1:
    sam1= i.text
    productnames.append(sam1)
print(len(productnames))

120

In [5]:
products2 = driver.find_elements(By.XPATH,'//span[@class="sales"]')
for i in products2:
    sam2=i.text
    prices.append(sam2)
print(len(prices))

120

In [6]:
link=[]

In [7]:
reviews=[]

In [8]:
lin= driver.find_elements(By.XPATH,'//a[@class="link d-lg-none"]')

for i in lin:
    lin1 = i.get_attribute('href')
    link.append(lin1)

In [9]:
def color():
    try:
        j1= driver.find_element(By.XPATH,'//span[@class="non-input-label color-name"]')
        mat1=j1.text
    except Exception as e:
        mat1= 'nan'
    return mat1

In [10]:
def review():
    try:
        e1=driver.find_element(By.XPATH,'//span[@class="reviews-qa-label font-color-gray"]')
        b=e1.text
    except Exception as e:
        b='nan'
    return b

In [11]:
def material():
    try:
        r1= driver.find_element(By.XPATH,'//ul[@class="features-lists"]/li[8]/span')
        mat2=r1.text
    except Exception as e:
        mat2= 'nan'
    return mat2

In [13]:
for product in link:
    driver.get(product)
    time.sleep(2)
    n1=color()
    colors.append(n1)
    time.sleep(2)
    n2=material()
    materialtype.append(n2)
    time.sleep(2)
    n3=review()
    reviews.append(n3)

In [23]:
products2 = driver.find_elements(By.XPATH,'//a[@class="link d-lg-none"]')

for i in products2:
    sam2= i.text
    productnames.append(sam2)
print(len(productnames))

240

In [24]:
products3 = driver.find_elements(By.XPATH,'//span[@class="sales"]')
for i in products3:
    sam3=i.text
    prices.append(sam3)
print(len(prices))

240

In [25]:
def color1():
    try:
        j2= driver.find_element(By.XPATH,'//span[@class="non-input-label color-name"]')
        ma2=j2.text
    except Exception as e:
        ma2= 'nan'
    return ma2

In [26]:
def material1():
    try:
        r3= driver.find_element(By.XPATH,'//ul[@class="features-lists"]/li[6]/span')
        ma3=r3.text
    except Exception as e:
        ma3= 'nan'
    return ma3

In [28]:
lins= driver.find_elements(By.XPATH,'//a[@class="link d-lg-none"]')

for i in lins:
    lin2 = i.get_attribute('href')
    link.append(lin2)

In [29]:
x='Top'
for i in range(240):
    producttype.append(x)

In [30]:
c='topwear'
for i in range(240):
    Weartype.append(c)

In [32]:
for product in link:
    driver.get(product)
    time.sleep(2)
    n4=color1()
    colors.append(n4)
    time.sleep(2)
    n5=material1()
    materialtype.append(n5)
    time.sleep(2)

In [37]:
products4 = driver.find_elements(By.XPATH,'//a[@class="link d-lg-none"]')

for i in products4:
    sam45= i.text
    productnames.append(sam45)
print(len(productnames))

346

In [38]:
products5 = driver.find_elements(By.XPATH,'//span[@class="sales"]')
for i in products5:
    sam34=i.text
    prices.append(sam34)
print(len(prices))

346

In [39]:
def color2():
    try:
        j5= driver.find_element(By.XPATH,'//span[@class="non-input-label color-name"]')
        ma7=j5.text
    except Exception as e:
        ma7= 'nan'
    return ma7

In [40]:
def material2():
    try:
        r7= driver.find_element(By.XPATH,'//ul[@class="features-lists"]/li[6]/span')
        ma8=r7.text
    except Exception as e:
        ma8= 'nan'
    return ma8

In [43]:
lins1= driver.find_elements(By.XPATH,'//a[@class="link d-lg-none"]')

for i in lins1:
    lin3 = i.get_attribute('href')
    link.append(lin3)

In [44]:
for product in link:
    driver.get(product)
    time.sleep(2)
    n7=color2()
    colors.append(n7)
    time.sleep(2)
    n8=material2()
    materialtype.append(n8)
    time.sleep(2)

In [53]:
len(Weartype)

346

In [54]:
c='15 days'
for i in range(346):
    return_time.append(c)

In [55]:
v1='Biba'
for i in range(346):
    brand_names.append(v1)

In [56]:
v2='India'
for i in range(346):
    country_of_origin.append(v1)

In [57]:
v3='Celebration'
for i in range(346):
    Occation.append(v3)
print(len(Occation))

346

In [60]:
driver= webdriver.Chrome()
driver.get('https://allensolly.abfrl.in/')

In [61]:
products41= driver.find_elements(By.XPATH,'//div[@class="ProductCard_description__BQzle"]')

for i in products41:
    sam54= i.text
    productnames.append(sam54)
print(len(productnames))

458

In [62]:
products31 = driver.find_elements(By.XPATH,'//span[@class="price"]')
for i in products31:
    sam31=i.text
    prices.append(sam31)
print(len(prices))

458

In [64]:
def color3():
    try:
        t1= driver.find_element(By.XPATH,'//span[@class="Color_pdpColor_text_value__CtGmk"]')
        mat11=t1.text
    except Exception as e:
        mat11= 'nan'
    return mat11

In [70]:
c='Casual'
for i in range(112):
    Occation.append(c)

In [73]:
f='kids'
for i in range(112):
    category.append(f)
print(len(category))

458

In [116]:
data6= {'productname':productnames, 'prices':prices, 'producttype':producttype, 'category':category, 'brand_names':brand_names,
         'country_of_origin':country_of_origin, 'Weartype':Weartype,'return_time':return_time,'Occation':Occation,'color':colors,
           'materialtype':materialtype,'Reviews':reviews}

In [117]:
df6= pd.DataFrame(data6)
df6

,productname,prices,producttype,category,brand_names,country_of_origin,Weartype,return_time,Occation,color,materialtype,Reviews
0,Ecru Cotton Straight Kurta Regular Pants Suit Set,"₹1,300",Top,Kids,Biba,Biba,topwear,15 days,Celebration,Ecru,With Dupatta,112
1,Pink Rayon Tiered Printed Kurta,₹909,Top,Kids,Biba,Biba,topwear,15 days,Celebration,Pink,nan,134
2,Lemon Yellow Cotton A-Line Kurta Regular Pants...,"₹1,199",Top,Kids,Biba,Biba,topwear,15 days,Celebration,Lemon Yellow,A-Line,59
3,Turquoise Cotton Gathered 2 Piece Set,"₹1,679",Top,Kids,Biba,Biba,topwear,15 days,Celebration,Turquoise,Gathered,64
4,Pista Green Straight Art Silk Kurta Lehenga Su...,"₹2,250",Top,Kids,Biba,Biba,topwear,15 days,Celebration,Pista Green,With Dupatta,81
...,...,...,...,...,...,...,...,...,...,...,...,...
453,Boys Maroon Slim Fit Jeans,"₹ 1,154",Jeans,kids,Allen Solly,India,bottomwear,7 days,Casual,pink,Cotton,110
454,Boys Navy Jogger Fit Jeans,₹ 849,Jeans,kids,Allen Solly,India,bottomwear,7 days,Casual,pink,Cotton,148
455,Boys Blue Jogger Fit Jeans,₹ 849,Jeans,kids,Allen Solly,India,bottomwear,7 days,Casual,pink,Cotton,67
456,Boys Blue Slim Fit Jeans,"₹ 2,099",Jeans,kids,Allen Solly,India,bottomwear,7 days,Casual,pink,Cotton,102
457,Boys Navy Slim Fit Jeans,"₹ 1,699",Jeans,kids,Allen Solly,India,bottomwear,7 days,Casual,pink,Cotton,130

In [118]:
df6.to_csv('datafame6.csv')

In [2]:
driver= webdriver.Chrome()
driver.get('https://www.montecarlo.in/')

In [3]:
productnames=[]
prices=[]
producttype=[]
colors=[]
category=[]
Occation=[]
Weartype=[]
brand_names=[]
return_time=[]
country_of_origin=[]
materialtype=[]
reviews=[]

In [8]:
start = 0
end = 3
for page in range(start,end):
    item= driver.find_elements(By.XPATH,'//a[@class="product-item-meta__title"]')
    for i in item:
        productnames.append(i.text)
    nextt = driver.find_element(By.CLASS_NAME,"pagination__nav-item")
    nextt.click()
    time.sleep(2)

In [53]:
start = 0
end = 7
for page in range(start,end):
    ite2= driver.find_elements(By.XPATH,'//span[@class="price price--highlight"]')
    for i in ite2:
        prices.append(i.text)
    ne2= driver.find_element(By.CLASS_NAME,'pagination__nav-item')
    ne2.click()
    time.sleep(2)
print(len(prices))

336

In [16]:
link=[]

In [22]:
lin= driver.find_elements(By.XPATH,'//a[@class="product-item-meta__title"]')

for i in lin:
    lin5 = i.get_attribute('href')
    link.append(lin5)

In [24]:
def color():
    try:
        j1= driver.find_element(By.XPATH,'//div[@class="yash-blog-text shreyh"][2]/p')
        res1=j1.text
    except Exception as e:
        res1= 'nan'
    return res1

In [25]:
def material():
    try:
        j2= driver.find_element(By.XPATH,'//div[@class="yash-blog-text shreyh"][4]/p')
        res2=j2.text
    except Exception as e:
        res2= 'nan'
    return res2

In [26]:
def brand():
    try:
        j3= driver.find_element(By.XPATH,'//div[@class="yash-blog-text shreyh"][3]/p')
        res3=j3.text
    except Exception as e:
        res3= 'nan'
    return res3

In [27]:
def price():
    try:
        j4= driver.find_element(By.XPATH,'//div[@class="yash-blog-text shreyh"][12]/p')
        res4=j4.text
    except Exception as e:
        res4= 'nan'
    return res4

In [28]:
def occat():
    try:
        j5= driver.find_element(By.XPATH,'//div[@class="yash-blog-text shreyh"][7]/p')
        res5=j5.text
    except Exception as e:
        res5= 'nan'
    return res5

In [32]:
for product in link:
    driver.get(product)
    time.sleep(2)
    e1=color()
    colors.append(e1)
    time.sleep(2)
    e2=material()
    materialtype.append(e2)
    time.sleep(2)
    e3=brand()
    brand_names.append(e3)
    time.sleep(2)
    e4=price()
    prices.append(e4)
    time.sleep(2)
    e5=occat()
    Occation.append(e5)
    time.sleep(2)

In [57]:
start = 0
end = 3
for page in range(start,end):
    item2= driver.find_elements(By.XPATH,'//a[@class="product-item-meta__title"]')
    for i in item2:
        productnames.append(i.text)
    nextt3 = driver.find_element(By.CLASS_NAME,"pagination__nav-item")
    nextt3.click()
    time.sleep(2)
print(len(productnames))

480

In [58]:
start = 0
end = 3
for page in range(start,end):
    ite3= driver.find_elements(By.XPATH,'//span[@class="price price--highlight"]')
    for i in ite3:
        prices.append(i.text)
    ne3= driver.find_element(By.CLASS_NAME,'pagination__nav-item')
    ne3.click()
    time.sleep(2)
print(len(prices))

480

In [63]:
products1 = driver.find_elements(By.XPATH,'//a[@class="product-item-meta__title"]')

for i in products1:
    sam1= i.text
    productnames.append(sam1)
print(len(productnames))

508

In [64]:
products3 = driver.find_elements(By.XPATH,'//span[@class="price price--highlight"]')
for i in products3:
    sam3=i.text
    prices.append(sam3)
print(len(prices))

508

In [69]:
products5 = driver.find_elements(By.XPATH,'//a[@class="product-item-meta__title"]')

for i in products5:
    sam9= i.text
    productnames.append(sam9)
print(len(productnames))

584

In [70]:
products6= driver.find_elements(By.XPATH,'//span[@class="price price--highlight"]')
for i in products6:
    sam10=i.text
    prices.append(sam10)
print(len(prices))

584

In [ ]:
productnames=[]
prices=[]
producttype=[]
colors=[]
category=[]
Occation=[]
Weartype=[]
brand_names=[]
return_time=[]
country_of_origin=[]
materialtype=[]
reviews=[]

In [87]:
data7= {'productname':productnames, 'prices':prices, 'producttype':producttype, 'category':category, 'brand_names':brand_names,
         'country_of_origin':country_of_origin, 'Weartype':Weartype,'return_time':return_time,'Occation':Occation,
           'materialtype':materialtype,'Reviews':reviews}

In [88]:
df7= pd.DataFrame(data7)
df7

,productname,prices,producttype,category,brand_names,country_of_origin,Weartype,return_time,Occation,materialtype,Reviews
0,Boys Red Printed Round Neck Full Slee...,Sale price\nRs. 858,T-Shirt,Kids,Monte Carlo,India,topwear,7 days,Casual,Cotton Blend,172
1,Boys Green Printed Round Neck Full Sl...,Sale price\nRs. 858,T-Shirt,Kids,Monte Carlo,India,topwear,7 days,Casual,Cotton Blend,121
2,Boys Off White Printed Round Neck Ful...,Sale price\nRs. 858,T-Shirt,Kids,Monte Carlo,India,topwear,7 days,Casual,Cotton Blend,149
3,Boys White Printed T-Shirt,Sale price\nRs. 741,T-Shirt,Kids,Monte Carlo,India,topwear,7 days,Casual,Cotton Blend,187
4,Boys Green Printed T-Shirt,Sale price\nRs. 614,T-Shirt,Kids,Monte Carlo,India,topwear,7 days,Casual,Cotton Blend,162
...,...,...,...,...,...,...,...,...,...,...,...
579,Boys NAvy Blue Regular Fit Lower,Sale price\nRs. 644,Lowers,Kids,Monte Carlo,India,bottomwear,7 days,Casual,Cotton Blend,66
580,Boys Navy Blue Printed Lower,Sale price\nRs. 731,Lowers,Kids,Monte Carlo,India,bottomwear,7 days,Casual,Cotton Blend,56
581,Boys Grey Printed Lower,Sale price\nRs. 575,Lowers,Kids,Monte Carlo,India,bottomwear,7 days,Casual,Cotton Blend,76
582,Boys Black Printed Lower,Sale price\nRs. 735,Lowers,Kids,Monte Carlo,India,bottomwear,7 days,Casual,Cotton Blend,144
583,Boys Black Printed Lower,Sale price\nRs. 768,Lowers,Kids,Monte Carlo,India,bottomwear,7 days,Casual,Cotton Blend,49

In [89]:
df7.to_csv('datafame7.csv')

In [6]:
driver= webdriver.Chrome()
driver.get('https://www2.hm.com/en_in/index.html')

In [3]:
productnames=[]
prices=[]
producttype=[]
colors=[]
category=[]
Occation=[]
Weartype=[]
brand_names=[]
return_time=[]
country_of_origin=[]
materialtype=[]
reviews=[]

In [7]:
product11 = driver.find_elements(By.XPATH,'//a[@class="link"]')

for i in product11:
    s1= i.text
    productnames.append(s1)
print(len(productnames))

163

In [10]:
product12= driver.find_elements(By.XPATH,'//span[@class="price regular"]')
for i in product12:
    s2=i.text
    prices.append(s2)
print(len(prices))

144

In [13]:
def color():
    try:
        j1= driver.find_element(By.XPATH,'//h3[@class="product-input-label"]')
        res1=j1.text
    except Exception as e:
        res1= 'nan'
    return res1

In [14]:
def review():
    try:
        j2= driver.find_element(By.XPATH,'//span[@class="d1cd7b b475fe e54fbe"]')
        res2=j2.text
    except Exception as e:
        res2= 'nan'
    return res2

In [15]:
def material():
    try:
        j3= driver.find_element(By.XPATH,'//ul[@class="f94b22"]/li/p')
        res3=j3.text
    except Exception as e:
        res3= 'nan'
    return res3

In [16]:
link=[]

In [17]:
lin= driver.find_elements(By.XPATH,'//a[@class="link"]')

for i in lin:
    lin1 = i.get_attribute('href')
    link.append(lin1)

In [19]:
for product in link:
    driver.get(product)
    time.sleep(2)
    e1=color()
    colors.append(e1)
    time.sleep(2)
    e2=material()
    materialtype.append(e2)
    time.sleep(2)
    e3=review()
    reviews.append(e3)
    time.sleep(2)

In [23]:
product13= driver.find_elements(By.XPATH,'//a[@class="link"]')

for i in product13:
    s3= i.text
    productnames.append(s3)
print(len(productnames))

232

In [24]:
product14= driver.find_elements(By.XPATH,'//span[@class="price regular"]')
for i in product14:
    s4=i.text
    prices.append(s4)
print(len(prices))

232

In [26]:
product15= driver.find_elements(By.XPATH,'//a[@class="link"]')

for i in product15:
    s5= i.text
    productnames.append(s5)
print(len(productnames))

303

In [27]:
product16= driver.find_elements(By.XPATH,'//span[@class="price regular"]')
for i in product16:
    s6=i.text
    prices.append(s6)
print(len(prices))

303

In [44]:
data8= {'productname':productnames, 'prices':prices, 'producttype':producttype, 'category':category, 'brand_names':brand_names,
         'country_of_origin':country_of_origin, 'Weartype':Weartype,'return_time':return_time,'Occation':Occation,
           'materialtype':materialtype,'Reviews':reviews}

In [45]:
df8= pd.DataFrame(data8)
df8

,productname,prices,producttype,category,brand_names,country_of_origin,Weartype,return_time,Occation,materialtype,Reviews
0,Everyday Polo T-Shirt,Rs.799.00,sportswear,kids,polo,India,topwear,30 days,Celebration,Cotton Blend,(2 reviews)
1,Flip Side T-Shirt,Rs.799.00,sportswear,kids,polo,India,topwear,30 days,Celebration,Cotton Blend,nan
2,Lane 4 T-Shirt,"Rs.1,299.00",sportswear,kids,polo,India,topwear,30 days,Celebration,Cotton Blend,nan
3,Everyday Comfort T-Shirt,Rs.799.00,sportswear,kids,polo,India,topwear,30 days,Celebration,Cotton Blend,nan
4,Loader T-Shirt,"Rs.1,299.00",sportswear,kids,polo,India,topwear,30 days,Celebration,Cotton Blend,nan
...,...,...,...,...,...,...,...,...,...,...,...
298,Warm fleece joggers,"Rs.1,999.00",sportswear,kids,polo,India,topwear,30 days,Celebration,Cotton Blend,187
299,DryMove™ Running vest,"Rs.2,299.00",sportswear,kids,polo,India,topwear,30 days,Celebration,Cotton Blend,89
300,Track jacket in DryMove™,"Rs.2,699.00",sportswear,kids,polo,India,topwear,30 days,Celebration,Cotton Blend,128
301,DryMove™ Basketball shorts,"Rs.1,499.00",sportswear,kids,polo,India,topwear,30 days,Celebration,Cotton Blend,33
302,DryMove™ Sports shorts,"Rs.1,499.00",sportswear,kids,polo,India,topwear,30 days,Celebration,Cotton Blend,116

In [46]:
df8.to_csv('datafame8.csv')